<!DOCTYPE html>
<html>
    <head>
            <script src = "angular.min.js">
        
              </script>
                
                
              <script src = "main.js">
                
               

              </script>
              </head>
    <body>
    	<div ng-app="demo">

            
 
            
           
                <div ng-controller="Mycontroller2">
                   <h1> Enter the id:</h1> <br><br>

                   <input type = "number" ng-model="emp_id1"> 
                   <button type="submit" ng-click="delete_()">SUBMIT</button>
                </div>
  
                   

        </div>
    </body>
</html>